#description{
   padding-bottom: 90px;
}
#h2Section1{
   margin: 0;
   font-size: 40px;
}
.inputs{
   padding: 0 50px 10px 0;
   font-size: 20px;
}

.btnAdd{
   padding: 10px;
   color: white;
   border-radius: 15px;
   background-color: rgb(174, 0, 255);
   border: 0 transparent;
   transition: 0.2s;
}
.btnAdd:hover{
   background-color: rgb(119, 0, 255);
}