main {
   margin-right: 200px;
   display: flex;
   justify-content: right;
}

.section-one {
   position: fixed;
   left: 250px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.section-two {
   width: 40%;
   display: flex;
   flex-direction: column;
}

.filters {
   margin-bottom: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

